body{
    background: $base-color;
    color: $text-color;
    font-family: 'Bitter', 'serif';
    font-size: 16px;
    font-weight: normal;
    height: 10000px; //временно
}
.container{
    width: $container-width1;
    margin: 0 auto;
}
section{
    position: relative;
    overflow: hidden;
}
h1, h2, h3{
    font-weight: 800;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 35px;
}
p{
    opacity: 80%;
}