section.about-us-section
    .container
        .about-us-section__image
            .circle.circle--color2.cricle--animated
            img(src="img/icons/kai-logo.svg").about-us-section__kai-logo
        .about-us-section__text.textblock
            h2 О Нас
            p
                include ../texts/about us.txt
            a(href="").button поддержать проект