section.features-section
    .container
        .features-section__image
        .features-section__text.textblock
            h2 Удивительные возможности в деле
            p
                include ../texts/features.txt
            a.button(href="roads.html") найти маршрут!
        .circle.cricle--animated.circle--color1.features-section__circle
        .circle.cricle--animated.circle--color2.features-section__circle