footer.footer
    .container
        .footer__links
            .footer__group1
                .footer__column
                    div Страницы
                    a(href="index.html").link Главная
                    a(href="roads.html").link Маршруты
                    a(href="support.html").link Поддержка
                    a(href="log-in.html").link Вход
                    a(href="registration.html").link Регистрация
                .footer__column
                    div Наши контакты
                    a(href="mail@grandtrip.com").link mail@grandtrip.com
                    a(href="support.html").link Поддержка
            .footer__column.footer__last-column
                    a(href="index.html").logo GRANDTRIP
                    a(href="index.html").link 
                        img(src="img/icons/vk-icon.svg")
                        span @grandtrip
                    a(href="roads.html").link 
                        img(src="img/icons/instagram-icon.svg")
                        span @grandtrip
                    a(href="support.html").link 
                        img(src="img/icons/telegram-icon.svg")
                        span наш бот
        .footer__note.link GranndTrip Ⓒ 2021 - 2022 | Все права зазщищены