header.header
    .container
        a(href="#").logo.header__logo GRANDTRIP
        .header__list
            a(href="roads.html") Маршруты
            a(href="support.html") Поддержка
            a(href="personal-area.html") Личный кабинет
            a(href="login.html").button.header__button.button--small войти
