section.ideas-section
    .container
        .ideas-section__text.textblock
            h2 Ваши идеи смотрятся классно
            p
                include ../texts/ideas section text.txt
            a(href="roads.html/create").button создать маршрут
        .ideas-section__image
            img(src="img/road.png")