aside.sidebar
    .sidebar__content
        button.sidebar__close-button 
            img(src="img/icons/small-arrow.svg")
            span Скрыть меню
        .sidebar__title Поиск по параметрам
        .sidebar__list
            form.sidebar__fields
                select.field.field--small
                    option(selected disabled value="default") Время года
                    option(value="1") Весна
                    option(value="2") Зима
                    option(value="3") Осень
                    option(value="4") Лето
                select.field.field--small
                    option(selected value="default") Все тематики
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                select.field.field--small
                    option(selected disabled value="default") Длительность прогулки
                    option(value="1") 30 минут
                    option(value="2") 1 час
                    option(value="3") 1.5 часа
                    option(value="4") 2 часа и больше
                button.button.button--small искать
    button.button.button--bordered создайте свой маршрут
    