section.steps-section
    .container
        .steps-section__steps
            .steps-section__element
                .steps-section__step.step
                    .step__title
                        h3 Зарегистрируйтесь
                        span.step__num 1
                    p
                        include ../texts/step1.txt
            .steps-section__element
                .steps-section__step.step
                    .step__title
                        h3 Оценка Ваших предпочтений
                        span.step__num 2
                    p
                        include ../texts/step2.txt
            .steps-section__element
                .steps-section__step.step
                    .step__title
                        h3 Выберите лучший из предложенных
                        span.step__num 3
                    p
                        include ../texts/step3.txt
        .circle.cricle--animated.circle--color1
        .circle.cricle--animated.circle--color2
