section.top-section
    .container
        p some content
        .top-section__background
            .top-section__images
                .top-section__images-container
                    .line
                        img.top-section__bg-img(src="img/image 4.jpg")
                        img.top-section__bg-img(src="img/image 2.jpg")
                        img.top-section__bg-img(src="img/image 3.jpg")
                    .line
                        img.top-section__bg-img(src="img/image 1.jpg")
                        img.top-section__bg-img(src="img/image 3.jpg")
                        img.top-section__bg-img(src="img/image 2.jpg")
                    .line
                        img.top-section__bg-img(src="img/image 3.jpg")
                        img.top-section__bg-img(src="img/image 2.jpg")
                        img.top-section__bg-img(src="img/image 2.jpg")
                        img.top-section__bg-img(src="img/image 1.jpg")
                    .line
                        img.top-section__bg-img(src="img/image 4.jpg")
                        img.top-section__bg-img(src="img/image 3.jpg")
                    .line
                        img.top-section__bg-img(src="img/image 3.jpg")
                        img.top-section__bg-img(src="img/image 2.jpg")
                        img.top-section__bg-img(src="img/image 1.jpg")
