doctype html
html(lang='ru')
    head
        include pug/head.pug
    body
        include pug/header.pug
        include pug/top-section.pug
        include pug/line-section.pug
        include pug/features-section.pug
        include pug/steps-section.pug
        
        script(src="script.js")