doctype html
html(lang='ru')
    head
        include pug/head.pug
        style(type="text/css").
            .log-in-section{
                padding: 170px 0 150px 0;
            }
    body
        
        include pug/header.pug

        include pug/log-in-section.pug
        +log-in(true)

        include pug/footer.pug

